<div class="content-wrapper page boxed">
  <div [ngClass]="loading ? 'loading' : 'loaded'" class="loading-component">
    <img src="/assets/images/loader.svg" alt="">
    <img src="/assets/images/brand-logo.png" alt="">
  </div>
  <div class="section-hero">
    <img src="/assets/images/series.png" class="thumbnail-section thumbnail-section--series" alt="">
    <h1 class="main-title">Series</h1>
  </div>
  <!-- <div class="series">
    <div *ngFor="let item of series">
      <p>{{item.title}}</p>
      <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="">
    </div>
  </div> -->
  <div class="series cards-wrapper">
    <div [routerLink]="['/serie', item.id]" *ngFor="let item of series" class="card-wrapper bg-img"
      style="background-image: url('{{item.thumbnail.path}}.{{item.thumbnail.extension}}');">
      <div class="overlay"></div>
      <h3 class="item-title">{{item.title}}</h3>
    </div>
  </div>
</div>
