<div class="content-wrapper page detail-page boxed">
  <div [ngClass]="loading ? 'loading' : 'loaded'" class="loading-component">
    <img src="/assets/images/loader.svg" alt="">
    <img src="/assets/images/brand-logo.png" alt="">
  </div>

  <div class="section-hero section-hero--detail">
    <div class="thumbnail bg-img">
      <!--       style="background-image: url('{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}');" -->
      <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="">
    </div>
    <div class="body">
      <div class="header">
        <h2 class="title">
          {{comic.title}}
        </h2>
        <div class="authors">
          <span class="author">|</span>
          <span class="author" *ngFor="let item of comic.creators.items">
            {{item.name}} - {{item.role}} |
          </span>

        </div>
      </div>
      <div class="description">
        {{comic.description}}
      </div>
      <div class="prices">
        <span class="price" *ngFor="let item of comic.prices">
          $ {{item.price}}
        </span>
      </div>
      <div class="characters">
        <span class="character" *ngFor="let item of comic.characters.items">
          {{item.name}}
        </span>
      </div>
    </div>
  </div>
</div>
