<div class="content-wrapper page page--news boxed">
  <h2 class="content-main-title"><span>News</span></h2>
  <div class="news">
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
    <div class="new">
      <div class="new__date">
        <span>10-12-2021</span>
      </div>
      <div class="new__content">
        <div class="head">
          <div class="title">New <span class="accent-1">Comic</span></div>
          <ul class="cats">
            <li class="cat">Category 1</li>
            <li class="cat">Category 2</li>
          </ul>
        </div>
        <div class="body">
          <p class="new-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aspernatur <span class="accent-1">consectetur
              odio</span> harum ea cumque
            corrupti velit dolores labore? Facere velit officiis dicta laborum numquam <span
              class="accent-1">necessitatibus</span> quam, modi iusto
            ducimus.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
