<div class="content-wrapper page detail-page boxed">
  <div [ngClass]="loading ? 'loading' : 'loaded'" class="loading-component">
    <img src="/assets/images/loader.svg" alt="">
    <img src="/assets/images/brand-logo.png" alt="">
  </div>

  <div class="section-hero section-hero--detail">
    <div class="thumbnail bg-img">
      <!--       style="background-image: url('{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}');" -->
      <img src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="">
    </div>
    <div class="body">
      <div class="header">
        <h2 class="title">
          {{serie.title}}
          <p class="subtitle">
            Start: {{serie.startYear}} - End: {{serie.endYear}}
          </p>
        </h2>

        <div class="description" *ngIf="serie.description; else notAvailable">
          {{serie.description}}
        </div>
        <ng-template #notAvailable>
          <span class="description">Not available info</span>
        </ng-template>
      </div>
    </div>
  </div>
  <h2 class="subsection-title">Characters</h2>
  <div class="character-comics cards-wrapper no-margin">
    <div *ngFor="let item of serie.characters.items" class="card-wrapper">
      <div class="overlay"></div>
      <h3 class="item-title">{{item.name}}</h3>
    </div>
  </div>
  <h2 class="subsection-title">Comics</h2>
  <div class="character-series cards-wrapper no-margin">
    <div *ngFor="let item of serie.comics.items" class="card-wrapper">
      <div class="overlay"></div>
      <h3 class="item-title">{{item.name}}</h3>
    </div>
  </div>
</div>
